.jumbotron {
    text-align: center;
    color: white;
}

#genrecontainer {
    margin-left: 18%;
}

.card-title {
    text-align: center;
}

.column {
    margin: 10px;
}

.card-img-top {
    border-radius: 25px;
  
  
  width: 200px;
  height: 150px; 
}

.card-body {
    text-align: center;
    /* test */
}

#numofconnections {
    display: none;
}

#connections {
    display: none;
}

#login {
    margin: 0 auto;
    width: 300px;
}

#heading {
    text-align: center;
}

#login-section {
    text-align: center;
}

.container {
    font-family: 'Quattrocento Sans', sans-serif;
}

.jumbotron {
    font-family: 'Quattrocento Sans', sans-serif;
}

#reset-section {
    text-align: center;
}

.table-responsive {
    text-align: center;
}

audio {
    height: 14px;
    width: 300px;
}